# This is an example configuration.
# To override caliopen scripts default behavior, copy this file to
# `caliopen.env` and edit configuration values

# When using personnal forks, use this configuration to customize the git
# repositories to clone at install time.
export BASE_URL="https://github.com/CaliOpen"

# CaliOpen is intended to run on python 2.7
# For now a virtualenv is used, to customize the virtualenv options use this
# variable
export VENV_OPTS="--python=python2.7"

# Default behavior is to clone caliopen repositories next to development tools,
# To set a specific path, use this variable:
export LOCAL_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )/.." && pwd )"

